body {
	background-color: orange;
	font-family: "Roboto";
	color: white;
	padding: 10% 0% 0% 10%;
}

.layout {
	padding: 10% 0% 0% 10%;
}

.alert {
	font-fize: 24px;
	padding: 5%;
	margin: 10%;
}

.questions{
	margin: 10%;
	font-size: 36px;
}

.myButton {
	-moz-box-shadow:inset 1px 8px 0px 0px #ffffff;
	-webkit-box-shadow:inset 1px 8px 0px 0px #ffffff;
	box-shadow:inset 1px 8px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:"Roboto";
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px -5px 0px #ffffff;
	margin: 10%;
}

.myButton:active {
	position:relative;
	top:1px;
}

