<!DOCTYPE html>
<html>
<head>
  <title>Mprogramapp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="questions.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto:700' rel='stylesheet' type='text/css'>
  <script type="text/javascript">
  	var counter = 10;
  	var t;
  	var isTimerOn = false;

  	function countdown()
  	{
  		document.getElementById("txt").value = counter;
  		counter--;
  		t = setTimeout("countdown();", 1000);
  	}

  	function stopMe()
  	{
  		isTimerOn = false;
  		clearTimeout(t);
  	}

  	function startMe()
  	{
  		if (!isTimerOn)
  		{
  			isTimeOn = true;
  			countdown();
  		}
  	}
  </script>
</head>
<body>


<%= yield %>

</body>
</html>
